* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #333; /* Couleur de fond du header */
    padding: 10px 0; /* Espacement vertical */
    display: flex;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    
}

.nav-header ul {
    list-style-type: none; /* Retire les puces de la liste */
    margin: 0;
    padding: 0;
    display: flex; /* Affiche les éléments en ligne */
}

.nav-header li {
    margin: 0 15px; /* Espacement entre les éléments de la liste */
}

.nav-header a {
    text-decoration: none; /* Retire le soulignement des liens */
    color: white; /* Couleur du texte */
    font-size: x-large; /* Taille de la police */
    padding: 10px 15px; /* Espacement intérieur des liens */
    transition: background-color 0.3s, color 0.3s; /* Animation pour les effets de survol */
}

/* Effet de survol (hover) */
.nav-header a:hover {
    background-color: #575757; /* Couleur de fond au survol */
    color: #ffcc00; /* Couleur du texte au survol */
    border-radius: 5px; /* Coins arrondis */
}

footer {
    background-color: #333; /* Couleur de fond du footer */
    color: white; /* Couleur du texte */
    padding: 20px 0; /* Espacement vertical */
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-footer {
    display: flex;
    justify-content: space-around; /* Répartit les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
}

.footer-links,
.footer-contact {
    list-style-type: none; /* Retire les puces de la liste */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: center;
}

.footer-links li,
.footer-contact li {
    margin: 5px 0; /* Espacement vertical entre les éléments */
}

.footer-links a,
.footer-contact a {
    text-decoration: none; /* Retire le soulignement des liens */
    color: white; /* Couleur des liens */
    transition: color 0.3s; /* Animation pour les effets de survol */
}


.footer-links a:hover,
.footer-contact a:hover {
    color: #ffcc00; 
}


main {
    flex: 1;
}


.title-page{

   position: absolute;
   top: 0;
   left: 45%;
   color: white;
}
.container {
width: 100%;
height: 90vh;
padding: 1rem;
}



form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
select {
    width: 100%;
}
input[type="radio"] {
    margin-right: 10px;
}
textarea {
    height: 150px;
}
input[type="submit"] {
  align-items: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}